
body {
    padding: 0;
    margin: 0;
}
.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto 4fr;
    font-family: "Roboto", sans-serif;
    --blue: #2563eb;
    --gray: #e4e4e7;
}

li {
    list-style: none;
    width: 200px;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / span 2;
    background-color: var(--blue);
    color: white;
    font-weight: 600;
}

.menu {
    display: flex;
    justify-content: space-around;
}

ul {
    padding-inline-start: 20px;
    line-height: 2.3rem;
}

.sidebar img {
    filter: invert();
}

h1 {
    font-size: 1.5em;
    font-weight: 500;
}

.logo {
    display: flex;
}

.logo img {
    width: 38px;
    padding: 10px;
}

li img {
    width: 20px;
    padding-right: 30px;
}

li {
    display: flex;
    align-items: center;
}

.toolbar {
    grid-column: 2 / span 2;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 50px 85px;
    box-shadow: 0px 5px 5px lightgrey;
}

.search input {
    background-color: var(--gray);
    border-radius: 8px;
    border: 0;
    width: 80%;
}

.search {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.user-section {
    display: flex;
    justify-content: flex-end;
    margin-right: 24px;
}

.user-header {
    display: grid;
    grid-template-columns: 75px auto;
    grid-template-rows: 24px 32px;
}

.user-header img {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

h6 {
    grid-row: 1;
    grid-column: 2;
}

.user-header h1 {
    grid-column: 2;
    grid-row: 2;
}

.header-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
}

.main {
    grid-column: 2 / span 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 3fr 1.2fr;
    grid-template-rows: auto;
    background-color: var(--gray);
    position: relative;
    z-index: -10;
}

.projects {
    grid-row: span 2;
}

h3 {
    margin: 0;
    padding: 20px;
    padding-bottom: 0;
}

.toolbar h1 {
    margin: 0;
}

h6 {
    margin: 10px 0px;
}

.project-holder {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.project-card {
    border-left: 6px solid rgb(193, 193, 0);
    margin: 12px;
    padding: 4px 12px;
}

.add-icons {
    display: flex;
    justify-content: flex-end;
    padding: 20px 5px;
}

.project-card, .announcement-holder, .trending-holder {
    box-shadow: 2px 5px 5px gray;
    background-color: white;
    border-radius: 8px;
    font-weight: 300;
}

.announcement-holder {
    padding: 2rem 1rem;
}

.trending-holder {
    padding: 1rem;
}

hr {
    opacity: 50%;
    margin: 15px;
    margin-left: 10px;
}
.announcements, .trending { 
    margin: 10px;
    margin-right: 30px;
    padding-left: 10px;
}

.announcements h3, .trending h3 {
    padding: 10px 0px 12px;

}

h5 {
    margin: 0;
}

.announcements p {
    margin: 0;
}

.announcement-card { 
    padding: 0px 10px;
    font-size: .8rem;
    font-weight: 300;
}

.trending-card {
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: 15px auto;
}

.trending-card img {
    grid-row: span 2;
}

.trending-card h6 {
    margin: 0;
    padding: 10px 0;
}

.trending-card p {
    font-size: .7rem;
}
button {
    background-color: var(--blue);
    border: 0;
    border-radius: 18px;
    padding: .5rem 2rem;
    color: white;
    font-weight: 600;
}

.icon {
    width: 20px;
    padding: 0px 10px;
}

.small {
    width: 30px;
}

.large {
    width: 50px;
}

.user-icon {
    margin: 10px;
}